@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: Montserrat, "sans-serif";
  background: url('../images/green-palm-leaves.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.layer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 2.2rem;
  margin-top: 60px;
  text-align: center;
}

#heart {
  margin-right: 10px;
}

#instruction {
  font-size: 1.2rem;
  margin: 0 auto;
  width: 600px;
}

#welcome {
  font-size: 1.4rem;
  text-align: center;
  margin: 10px;
}

#intro {
  margin-bottom: 10px;
}

#countdown {
  font-size: 2rem;
  height: 60px;
  margin: 0 auto;
  width: 60px;
}

h2 {
  color: #333;
  margin: 0 auto;
  width: 155px;
}

#cards-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px auto 0;
  width: 430px;
}

.cards {
  background-color: lightsteelblue;
  border-radius: 5px;
  height: 140px;
  width: 100px;
}

img {
  height: 100%;
  width: 100%;
}

#reset {
  background-color: rgb(190, 190, 139);
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 1.3em;
  height: 40px;
  margin: 20px auto;
  width: 130px;
}

#reset:hover {
  background-color: rgb(148, 148, 110);
}

#stars-wrapper {
  display: flex;
  gap: 7px;
  height: 30px;
  margin: 30px auto 30px;
  width: 185px;
}

#stars-wrapper img {
  height: 25px;
  width: 25px;
}

/** for screen sizes up to 500px */
@media only screen and (max-width: 500px) {
  #cards-wrapper {
    gap: 3px;
    margin: 10px auto 0;
    width: 321px;
  }

  .cards {
    height: 105px;
    width: 78px;
  }

  h1 {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  p {
    font-size: 1.4rem;
  }
}

/** for screen sizes up to 400px */
@media only screen and (max-width: 400px) {
  .cards {
    height: 105px;
    width: 78px;
  }

  h1 {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  p {
    font-size: 1.4rem;
    height: 30px;
    margin: 0 auto;
    width: 60px;
  }

  #stars-wrapper {
    height: 30px;
    margin: 20px auto 20px;
    width: 185px;
  }
}