@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: Montserrat, "sans-serif";
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
}

#heart {
  margin-right: 10px;
}

p {
  font-size: 2rem;
  height: 60px;
  margin: 0 auto;
  width: 60px;
}

h2 {
  width: 130px;
  margin: 0 auto;
  color: #333;
}

#cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 430px;
  margin: 10px auto 0;
}
  
.cards {
  width: 100px;
  height: 140px;
  background-color: lightsteelblue;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;  
}

#reset {
  width: 130px;
  height: 40px;
  font-size: 1.3em;
  margin: 20px auto;
  border-radius: 5px;
  border: none;
  background-color: rgb(190, 190, 139);
  color: #333;
}
  
#reset:hover {
  background-color:rgb(148, 148, 110);
}

#stars-wrapper {
  display: flex;
  margin: 30px auto 30px;
  width: 185px;
  height: 30px;
  gap: 7px;
}
  
#stars-wrapper img {
  width: 25px;
  height: 25px;
}
  
/** for screen sizes up to 500px */
@media only screen and (max-width: 500px) {
  #cards-wrapper {
    gap: 3px;
    width: 321px;
    margin: 10px auto 0;
  }
    
  .cards {
    width: 78px;
    height: 105px;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
  }
}